body {
    background-image: url("2000s cool.jpg");
    background-size: cover;
}

.content {
    padding: 10px;
    width: 800px;
    position:relative;
    background: rgb(0, 0, 0, 0); 
    font-family: Comic Sans MS;
    color: aliceblue;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    border-style: inset;
    border-width: 200;
    border-color: rgb(110, 203, 206) 
}
.content-header {
    padding: 40px;
    width: 800px;
    position:relative;
    background: rgba(0, 0, 0, 0); 
    font-family: Comic Sans MS;
    color: aliceblue;
    max-width: 600px;
    margin: auto;
    text-align:center;
    font-size: 80px;
    border-style: inset;
    border-width: 200;
    border-color: rgb(110, 203, 206) ; 
}

.spinnyweeeeeeeee {
    animation: rotateAnimation 2s linear infinite;
    margin-right: 500px ;
}

@keyframes rotateAnimation {
    to {transform: rotateY(360deg);}
    }

.corner-box  {
    max-height: 800px;
    position: absolute;
    right: 1px;
    bottom: 10px;
    z-index: 200;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0; margin: 0; 
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1136.ani), url(https://cur.cursors-4u.net/anime/ani-12/ani1136.gif), auto !important;} /* End https://www.cursors-4u.com */

